@charset "UTF-8";

.bg-vip-advertisers-sim {
  background: #c5d2db;
  font-weight: 700;
}

.bg-vip-advertisers-sim-owner {
  background: #a686f0;
  font-weight: 700;
}

.bg-advertisers-sim {
  background: rgba(0, 24, 158, 0.185);
  font-weight: 700;
}

.bg-advertisers-sim-owner {
  background: #ff8b6e;
}

.bg-advertisers {
  background: #ecf6fa !important;
}

.bg-custom {
  background: #f4fad1 !important;
}

.bg-secondary {
  background-color: white !important;
}

.bg-primary {
  background-color: #18fc9d !important;
}

.bg-background {
  background-color: #eaedf1 !important;
}

.bg-navbar2 {
  background: #2e3031;
}

.bg-admin-advertisers {
  background-color: #f7e2a8 !important;
}

.bg-links:hover {
  color: #5b8cf7;
}

.noClick {
  pointer-events: none !important;
}

.white-space-nowrap {
  white-space: nowrap !important;
}

.font0 {
  font-size: 0.4em !important;
}

.font1 {
  font-size: 0.6em !important;
}

.font2 {
  font-size: 0.7em !important;
}

.font3 {
  font-size: 0.8em !important;
}

.font4 {
  font-size: 0.9em !important;
}

.font5 {
  font-size: 1em !important;
}

.font6 {
  font-size: 1.1em !important;
}

.font7 {
  font-size: 1.2em !important;
}

.font8 {
  font-size: 1.3em !important;
}

.font9 {
  font-size: 1.4em !important;
}

.font10 {
  font-size: 2em !important;
}

/* Large desktops and laptops */

/* Landscape tablets and medium desktops */

/* Portrait tablets and small desktops */

/* Landscape phones and portrait tablets */

/* Portrait phones and smaller */

@font-face {
  font-family: Vazir;
  src: url(/fonts/Vazir.eot?b6faff7226f80b28db79ef827830fb38);
  src: url(/fonts/Vazir.eot?b6faff7226f80b28db79ef827830fb38) format("embedded-opentype"), url(/fonts/Vazir.woff2?566305627d04519057583ac1a201fe36) format("woff2"), url(/fonts/Vazir.woff?044864a0687c5017de50df000c5cd6c0) format("woff"), url(/fonts/Vazir.ttf?8c8aa2d378476dac46e58e227bc91ca9) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url(/fonts/Vazir-Bold.eot?d5f9c87434500ebda6f3e9d8e1e71c76);
  src: url(/fonts/Vazir-Bold.eot?d5f9c87434500ebda6f3e9d8e1e71c76) format("embedded-opentype"), url(/fonts/Vazir-Bold.woff2?946d5172bf83681ea52eb3d5ee96697b) format("woff2"), url(/fonts/Vazir-Bold.woff?ff7d80c6542324c6c4d0d07d18f606fc) format("woff"), url(/fonts/Vazir-Bold.ttf?0bcc5cb3c0723692fb1548dfd5f2df05) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url(/fonts/Vazir-Black.eot?2375c43915833eae468e55253a645d75);
  src: url(/fonts/Vazir-Black.eot?2375c43915833eae468e55253a645d75) format("embedded-opentype"), url(/fonts/Vazir-Black.woff2?a2a1ac7749e492273f44d8f29a29de11) format("woff2"), url(/fonts/Vazir-Black.woff?23e41f382421346c28a27bbc7772eb66) format("woff"), url(/fonts/Vazir-Black.ttf?93fdb72323ce1b012996e60abe6877ca) format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url(/fonts/Vazir-Medium.eot?ed8bc3c80d1c078a4ed96347607f032f);
  src: url(/fonts/Vazir-Medium.eot?ed8bc3c80d1c078a4ed96347607f032f) format("embedded-opentype"), url(/fonts/Vazir-Medium.woff2?41b89e21db1f63bd295092c2190eee14) format("woff2"), url(/fonts/Vazir-Medium.woff?bb78e30668d4452cb9f0cc7cf72ddbe2) format("woff"), url(/fonts/Vazir-Medium.ttf?ab45266448185b767a127605f247c489) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url(/fonts/Vazir-Light.eot?5b346e1b698e592697719effa4b04369);
  src: url(/fonts/Vazir-Light.eot?5b346e1b698e592697719effa4b04369) format("embedded-opentype"), url(/fonts/Vazir-Light.woff2?6143bb37f90640059fb9a8144ddeff24) format("woff2"), url(/fonts/Vazir-Light.woff?94dcdf8eaa5b8552551c9330c0a46efe) format("woff"), url(/fonts/Vazir-Light.ttf?2c606e262086e3c28027edd38ad92bb0) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url(/fonts/Vazir-Thin.eot?7e0b9340aea53f9db98ce040fe56453c);
  src: url(/fonts/Vazir-Thin.eot?7e0b9340aea53f9db98ce040fe56453c) format("embedded-opentype"), url(/fonts/Vazir-Thin.woff2?3b179ca5d604407d95fd0464f2e12db5) format("woff2"), url(/fonts/Vazir-Thin.woff?287cae74c3e005ca1379a70a071fe419) format("woff"), url(/fonts/Vazir-Thin.ttf?9bc6d4dc99d339145b4d68956687cb79) format("truetype");
  font-weight: 100;
  font-style: normal;
}

.cutout-card-container {
  display: grid;
}

.cutout-card-wrapper {
  position: relative;
  perspective: 40em;
  display: grid;
  transform-style: preserve-3d;
}

.cutout-card {
  grid-area: 1 / 1;
  transform: translateX(7px) rotateY(15deg) rotateX(7deg);
  background: rgba(249, 198, 26, 0.88);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  box-shadow: 0 10px 30px -3px rgba(0, 0, 0, 0.1);
  transition: all 740ms;
}

.cutout-card-fixed {
  transform: translateX(0) rotateY(0) rotateX(0) !important;
}

.pretty * {
  box-sizing: border-box;
}

.pretty input:not([type='checkbox']):not([type='radio']) {
  display: none;
}

.pretty {
  position: relative;
  display: inline-block;
  margin-right: 1em;
  white-space: nowrap;
  line-height: 1;
}

.pretty input {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 1em;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.pretty .state label {
  position: initial;
  display: inline-block;
  font-weight: normal;
  margin: 0;
  text-indent: 1.5em;
  min-width: calc(1em + 2px);
}

.pretty .state label:before,
.pretty .state label:after {
  content: '';
  width: calc(1em + 2px);
  height: calc(1em + 2px);
  display: block;
  box-sizing: border-box;
  border-radius: 0;
  border: 1px solid transparent;
  z-index: 0;
  position: absolute;
  left: 0;
  top: calc((0% - (100% - 1em)) - 8%);
  background-color: transparent;
}

.pretty .state label:before {
  border-color: #bdc3c7;
}

.pretty .state.p-is-hover,
.pretty .state.p-is-indeterminate {
  display: none;
}

@-webkit-keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0);
  }
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0);
  }
}

@-webkit-keyframes tada {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
    transform: scale(7);
  }

  38% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: scale(1);
  }

  55% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: scale(1.5);
  }

  72% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(1);
  }

  81% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: scale(1.24);
  }

  89% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(1);
  }

  95% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: scale(1.04);
  }

  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(1);
  }
}

@keyframes tada {
  0% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
    transform: scale(7);
  }

  38% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
    transform: scale(1);
  }

  55% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: scale(1.5);
  }

  72% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(1);
  }

  81% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: scale(1.24);
  }

  89% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(1);
  }

  95% {
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    transform: scale(1.04);
  }

  100% {
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    transform: scale(1);
  }
}

@-webkit-keyframes jelly {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(0.75, 1.25, 1);
  }

  40% {
    transform: scale3d(1.25, 0.75, 1);
  }

  50% {
    transform: scale3d(0.85, 1.15, 1);
  }

  65% {
    transform: scale3d(1.05, 0.95, 1);
  }

  75% {
    transform: scale3d(0.95, 1.05, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes jelly {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(0.75, 1.25, 1);
  }

  40% {
    transform: scale3d(1.25, 0.75, 1);
  }

  50% {
    transform: scale3d(0.85, 1.15, 1);
  }

  65% {
    transform: scale3d(1.05, 0.95, 1);
  }

  75% {
    transform: scale3d(0.95, 1.05, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes rotate {
  0% {
    opacity: 0;
    transform: translateZ(-200px) rotate(-45deg);
  }

  100% {
    opacity: 1;
    transform: translateZ(0) rotate(0);
  }
}

@keyframes rotate {
  0% {
    opacity: 0;
    transform: translateZ(-200px) rotate(-45deg);
  }

  100% {
    opacity: 1;
    transform: translateZ(0) rotate(0);
  }
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0px 0px 0px 0px #bdc3c7;
  }

  100% {
    box-shadow: 0px 0px 0px 1.5em rgba(189, 195, 199, 0);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0px 0px 0px 0px #bdc3c7;
  }

  100% {
    box-shadow: 0px 0px 0px 1.5em rgba(189, 195, 199, 0);
  }
}

.pretty.p-default.p-fill .state label:after {
  transform: scale(1);
}

.pretty.p-default .state label:after {
  transform: scale(0.6);
}

.pretty.p-default input:checked ~ .state label:after {
  background-color: #bdc3c7 !important;
}

.pretty.p-default.p-thick .state label:before,
.pretty.p-default.p-thick .state label:after {
  border-width: calc(1em / 7);
}

.pretty.p-default.p-thick .state label:after {
  transform: scale(0.4) !important;
}

.pretty.p-icon .state .icon {
  position: absolute;
  font-size: 1em;
  width: calc(1em + 2px);
  height: calc(1em + 2px);
  left: 0;
  z-index: 1;
  text-align: center;
  line-height: normal;
  top: calc((0% - (100% - 1em)) - 8%);
  border: 1px solid transparent;
  opacity: 0;
}

.pretty.p-icon .state .icon:before {
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.pretty.p-icon input:checked ~ .state .icon {
  opacity: 1;
}

.pretty.p-icon input:checked ~ .state label:before {
  border-color: #5a656b;
}

.pretty.p-svg .state .svg {
  position: absolute;
  font-size: 1em;
  width: calc(1em + 2px);
  height: calc(1em + 2px);
  left: 0;
  z-index: 1;
  text-align: center;
  line-height: normal;
  top: calc((0% - (100% - 1em)) - 8%);
  border: 1px solid transparent;
  opacity: 0;
}

.pretty.p-svg .state svg {
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.pretty.p-svg input:checked ~ .state .svg {
  opacity: 1;
}

.pretty.p-image .state img {
  opacity: 0;
  position: absolute;
  width: calc(1em + 2px);
  height: calc(1em + 2px);
  top: 0;
  top: calc((0% - (100% - 1em)) - 8%);
  left: 0;
  z-index: 0;
  text-align: center;
  line-height: normal;
  transform: scale(0.8);
}

.pretty.p-image input:checked ~ .state img {
  opacity: 1;
}

.pretty.p-switch input {
  min-width: 2em;
}

.pretty.p-switch .state {
  position: relative;
}

.pretty.p-switch .state:before {
  content: '';
  border: 1px solid #bdc3c7;
  border-radius: 60px;
  width: 2em;
  box-sizing: unset;
  height: calc(1em + 2px);
  position: absolute;
  top: 0;
  top: calc((0% - (100% - 1em)) - 16%);
  z-index: 0;
  transition: all 0.5s ease;
}

.pretty.p-switch .state label {
  text-indent: 2.5em;
}

.pretty.p-switch .state label:before,
.pretty.p-switch .state label:after {
  transition: all 0.5s ease;
  border-radius: 100%;
  left: 0;
  border-color: transparent;
  transform: scale(0.8);
}

.pretty.p-switch .state label:after {
  background-color: #bdc3c7 !important;
}

.pretty.p-switch input:checked ~ .state:before {
  border-color: #5a656b;
}

.pretty.p-switch input:checked ~ .state label:before {
  opacity: 0;
}

.pretty.p-switch input:checked ~ .state label:after {
  background-color: #5a656b !important;
  left: 1em;
}

.pretty.p-switch.p-fill input:checked ~ .state:before {
  border-color: #5a656b;
  background-color: #5a656b !important;
}

.pretty.p-switch.p-fill input:checked ~ .state label:before {
  opacity: 0;
}

.pretty.p-switch.p-fill input:checked ~ .state label:after {
  background-color: #fff !important;
  left: 1em;
}

.pretty.p-switch.p-slim .state:before {
  height: 0.1em;
  background: #bdc3c7 !important;
  top: calc(50% - 0.1em);
}

.pretty.p-switch.p-slim input:checked ~ .state:before {
  border-color: #5a656b;
  background-color: #5a656b !important;
}

.pretty.p-has-hover input:hover ~ .state:not(.p-is-hover) {
  display: none;
}

.pretty.p-has-hover input:hover ~ .state.p-is-hover {
  display: block;
}

.pretty.p-has-hover input:hover ~ .state.p-is-hover .icon {
  display: block;
}

.pretty.p-has-focus input:focus ~ .state label:before {
  box-shadow: 0px 0px 3px 0px #bdc3c7;
}

.pretty.p-has-indeterminate input[type='checkbox']:indeterminate ~ .state:not(.p-is-indeterminate) {
  display: none;
}

.pretty.p-has-indeterminate input[type='checkbox']:indeterminate ~ .state.p-is-indeterminate {
  display: block;
}

.pretty.p-has-indeterminate input[type='checkbox']:indeterminate ~ .state.p-is-indeterminate .icon {
  display: block;
  opacity: 1;
}

.pretty.p-toggle .state.p-on {
  opacity: 0;
  display: none;
}

.pretty.p-toggle .state.p-off,
.pretty.p-toggle .state .icon,
.pretty.p-toggle .state .svg,
.pretty.p-toggle .state img {
  opacity: 1;
  display: inherit;
}

.pretty.p-toggle .state.p-off .icon {
  color: #bdc3c7;
}

.pretty.p-toggle input:checked ~ .state.p-on {
  opacity: 1;
  display: inherit;
}

.pretty.p-toggle input:checked ~ .state.p-off {
  opacity: 0;
  display: none;
}

.pretty.p-plain input:checked ~ .state label:before,
.pretty.p-plain.p-toggle .state label:before {
  content: none;
}

.pretty.p-plain.p-plain .icon {
  transform: scale(1.1);
}

.pretty.p-round .state label:before,
.pretty.p-round .state label:after {
  border-radius: 100%;
}

.pretty.p-round.p-icon .state .icon {
  border-radius: 100%;
  overflow: hidden;
}

.pretty.p-round.p-icon .state .icon:before {
  transform: scale(0.8);
}

.pretty.p-curve .state label:before,
.pretty.p-curve .state label:after {
  border-radius: 20%;
}

.pretty.p-smooth label:before,
.pretty.p-smooth label:after,
.pretty.p-smooth .icon,
.pretty.p-smooth .svg {
  transition: all 0.5s ease;
}

.pretty.p-smooth input:checked + .state label:after {
  transition: all 0.3s ease;
}

.pretty.p-smooth input:checked + .state .icon,
.pretty.p-smooth input:checked + .state .svg,
.pretty.p-smooth input:checked + .state img {
  -webkit-animation: zoom 0.2s ease;
          animation: zoom 0.2s ease;
}

.pretty.p-smooth.p-default input:checked + .state label:after {
  -webkit-animation: zoom 0.2s ease;
          animation: zoom 0.2s ease;
}

.pretty.p-smooth.p-plain input:checked + .state label:before {
  content: '';
  transform: scale(0);
  transition: all 0.5s ease;
}

.pretty.p-tada:not(.p-default) input:checked + .state .icon,
.pretty.p-tada:not(.p-default) input:checked + .state .svg,
.pretty.p-tada:not(.p-default) input:checked + .state img,
.pretty.p-tada:not(.p-default) input:checked + .state label:before,
.pretty.p-tada:not(.p-default) input:checked + .state label:after {
  -webkit-animation: tada 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1 alternate;
          animation: tada 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) 1 alternate;
  opacity: 1;
}

.pretty.p-jelly:not(.p-default) input:checked + .state .icon,
.pretty.p-jelly:not(.p-default) input:checked + .state .svg,
.pretty.p-jelly:not(.p-default) input:checked + .state img,
.pretty.p-jelly:not(.p-default) input:checked + .state label:before,
.pretty.p-jelly:not(.p-default) input:checked + .state label:after {
  -webkit-animation: jelly 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
          animation: jelly 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 1;
}

.pretty.p-jelly:not(.p-default) input:checked + .state label:before {
  border-color: transparent;
}

.pretty.p-rotate:not(.p-default) input:checked ~ .state .icon,
.pretty.p-rotate:not(.p-default) input:checked ~ .state .svg,
.pretty.p-rotate:not(.p-default) input:checked ~ .state img,
.pretty.p-rotate:not(.p-default) input:checked ~ .state label:before,
.pretty.p-rotate:not(.p-default) input:checked ~ .state label:after {
  -webkit-animation: rotate 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
          animation: rotate 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  opacity: 1;
}

.pretty.p-rotate:not(.p-default) input:checked ~ .state label:before {
  border-color: transparent;
}

.pretty.p-pulse:not(.p-switch) input:checked ~ .state label:before {
  -webkit-animation: pulse 1s;
          animation: pulse 1s;
}

.pretty input[disabled] {
  cursor: not-allowed;
  display: none;
}

.pretty input[disabled] ~ * {
  opacity: .5;
}

.pretty.p-locked input {
  display: none;
  cursor: not-allowed;
}

.pretty input:checked ~ .state.p-primary label:after,
.pretty.p-toggle .state.p-primary label:after {
  background-color: #428bca !important;
}

.pretty input:checked ~ .state.p-primary .icon,
.pretty input:checked ~ .state.p-primary .svg,
.pretty.p-toggle .state.p-primary .icon,
.pretty.p-toggle .state.p-primary .svg {
  color: #fff;
  stroke: #fff;
}

.pretty input:checked ~ .state.p-primary-o label:before,
.pretty.p-toggle .state.p-primary-o label:before {
  border-color: #428bca;
}

.pretty input:checked ~ .state.p-primary-o label:after,
.pretty.p-toggle .state.p-primary-o label:after {
  background-color: transparent;
}

.pretty input:checked ~ .state.p-primary-o .icon,
.pretty input:checked ~ .state.p-primary-o .svg,
.pretty input:checked ~ .state.p-primary-o svg,
.pretty.p-toggle .state.p-primary-o .icon,
.pretty.p-toggle .state.p-primary-o .svg,
.pretty.p-toggle .state.p-primary-o svg {
  color: #428bca;
  stroke: #428bca;
}

.pretty.p-default:not(.p-fill) input:checked ~ .state.p-primary-o label:after {
  background-color: #428bca !important;
}

.pretty.p-switch input:checked ~ .state.p-primary:before {
  border-color: #428bca;
}

.pretty.p-switch.p-fill input:checked ~ .state.p-primary:before {
  background-color: #428bca !important;
}

.pretty.p-switch.p-slim input:checked ~ .state.p-primary:before {
  border-color: #245682;
  background-color: #245682 !important;
}

.pretty input:checked ~ .state.p-info label:after,
.pretty.p-toggle .state.p-info label:after {
  background-color: #5bc0de !important;
}

.pretty input:checked ~ .state.p-info .icon,
.pretty input:checked ~ .state.p-info .svg,
.pretty.p-toggle .state.p-info .icon,
.pretty.p-toggle .state.p-info .svg {
  color: #fff;
  stroke: #fff;
}

.pretty input:checked ~ .state.p-info-o label:before,
.pretty.p-toggle .state.p-info-o label:before {
  border-color: #5bc0de;
}

.pretty input:checked ~ .state.p-info-o label:after,
.pretty.p-toggle .state.p-info-o label:after {
  background-color: transparent;
}

.pretty input:checked ~ .state.p-info-o .icon,
.pretty input:checked ~ .state.p-info-o .svg,
.pretty input:checked ~ .state.p-info-o svg,
.pretty.p-toggle .state.p-info-o .icon,
.pretty.p-toggle .state.p-info-o .svg,
.pretty.p-toggle .state.p-info-o svg {
  color: #5bc0de;
  stroke: #5bc0de;
}

.pretty.p-default:not(.p-fill) input:checked ~ .state.p-info-o label:after {
  background-color: #5bc0de !important;
}

.pretty.p-switch input:checked ~ .state.p-info:before {
  border-color: #5bc0de;
}

.pretty.p-switch.p-fill input:checked ~ .state.p-info:before {
  background-color: #5bc0de !important;
}

.pretty.p-switch.p-slim input:checked ~ .state.p-info:before {
  border-color: #2390b0;
  background-color: #2390b0 !important;
}

.pretty input:checked ~ .state.p-success label:after,
.pretty.p-toggle .state.p-success label:after {
  background-color: #5cb85c !important;
}

.pretty input:checked ~ .state.p-success .icon,
.pretty input:checked ~ .state.p-success .svg,
.pretty.p-toggle .state.p-success .icon,
.pretty.p-toggle .state.p-success .svg {
  color: #fff;
  stroke: #fff;
}

.pretty input:checked ~ .state.p-success-o label:before,
.pretty.p-toggle .state.p-success-o label:before {
  border-color: #5cb85c;
}

.pretty input:checked ~ .state.p-success-o label:after,
.pretty.p-toggle .state.p-success-o label:after {
  background-color: transparent;
}

.pretty input:checked ~ .state.p-success-o .icon,
.pretty input:checked ~ .state.p-success-o .svg,
.pretty input:checked ~ .state.p-success-o svg,
.pretty.p-toggle .state.p-success-o .icon,
.pretty.p-toggle .state.p-success-o .svg,
.pretty.p-toggle .state.p-success-o svg {
  color: #5cb85c;
  stroke: #5cb85c;
}

.pretty.p-default:not(.p-fill) input:checked ~ .state.p-success-o label:after {
  background-color: #5cb85c !important;
}

.pretty.p-switch input:checked ~ .state.p-success:before {
  border-color: #5cb85c;
}

.pretty.p-switch.p-fill input:checked ~ .state.p-success:before {
  background-color: #5cb85c !important;
}

.pretty.p-switch.p-slim input:checked ~ .state.p-success:before {
  border-color: #357935;
  background-color: #357935 !important;
}

.pretty input:checked ~ .state.p-warning label:after,
.pretty.p-toggle .state.p-warning label:after {
  background-color: #f0ad4e !important;
}

.pretty input:checked ~ .state.p-warning .icon,
.pretty input:checked ~ .state.p-warning .svg,
.pretty.p-toggle .state.p-warning .icon,
.pretty.p-toggle .state.p-warning .svg {
  color: #fff;
  stroke: #fff;
}

.pretty input:checked ~ .state.p-warning-o label:before,
.pretty.p-toggle .state.p-warning-o label:before {
  border-color: #f0ad4e;
}

.pretty input:checked ~ .state.p-warning-o label:after,
.pretty.p-toggle .state.p-warning-o label:after {
  background-color: transparent;
}

.pretty input:checked ~ .state.p-warning-o .icon,
.pretty input:checked ~ .state.p-warning-o .svg,
.pretty input:checked ~ .state.p-warning-o svg,
.pretty.p-toggle .state.p-warning-o .icon,
.pretty.p-toggle .state.p-warning-o .svg,
.pretty.p-toggle .state.p-warning-o svg {
  color: #f0ad4e;
  stroke: #f0ad4e;
}

.pretty.p-default:not(.p-fill) input:checked ~ .state.p-warning-o label:after {
  background-color: #f0ad4e !important;
}

.pretty.p-switch input:checked ~ .state.p-warning:before {
  border-color: #f0ad4e;
}

.pretty.p-switch.p-fill input:checked ~ .state.p-warning:before {
  background-color: #f0ad4e !important;
}

.pretty.p-switch.p-slim input:checked ~ .state.p-warning:before {
  border-color: #c77c11;
  background-color: #c77c11 !important;
}

.pretty input:checked ~ .state.p-danger label:after,
.pretty.p-toggle .state.p-danger label:after {
  background-color: #d9534f !important;
}

.pretty input:checked ~ .state.p-danger .icon,
.pretty input:checked ~ .state.p-danger .svg,
.pretty.p-toggle .state.p-danger .icon,
.pretty.p-toggle .state.p-danger .svg {
  color: #fff;
  stroke: #fff;
}

.pretty input:checked ~ .state.p-danger-o label:before,
.pretty.p-toggle .state.p-danger-o label:before {
  border-color: #d9534f;
}

.pretty input:checked ~ .state.p-danger-o label:after,
.pretty.p-toggle .state.p-danger-o label:after {
  background-color: transparent;
}

.pretty input:checked ~ .state.p-danger-o .icon,
.pretty input:checked ~ .state.p-danger-o .svg,
.pretty input:checked ~ .state.p-danger-o svg,
.pretty.p-toggle .state.p-danger-o .icon,
.pretty.p-toggle .state.p-danger-o .svg,
.pretty.p-toggle .state.p-danger-o svg {
  color: #d9534f;
  stroke: #d9534f;
}

.pretty.p-default:not(.p-fill) input:checked ~ .state.p-danger-o label:after {
  background-color: #d9534f !important;
}

.pretty.p-switch input:checked ~ .state.p-danger:before {
  border-color: #d9534f;
}

.pretty.p-switch.p-fill input:checked ~ .state.p-danger:before {
  background-color: #d9534f !important;
}

.pretty.p-switch.p-slim input:checked ~ .state.p-danger:before {
  border-color: #a02622;
  background-color: #a02622 !important;
}

.pretty.p-bigger label:before,
.pretty.p-bigger label:after,
.pretty.p-bigger .icon,
.pretty.p-bigger .svg,
.pretty.p-bigger .img {
  font-size: 1.2em !important;
  top: calc((0% - (100% - 1em)) - 35%) !important;
}

.pretty.p-bigger label {
  text-indent: 1.7em;
}

@media print {
  .pretty .state:before,
  .pretty .state label:before,
  .pretty .state label:after,
  .pretty .state .icon {
    color-adjust: exact;
    /* stylelint-disable */
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}

#text-animation-text-container {
  color: #999;
  text-transform: uppercase;
  font: 12px;
  font-weight: bold;
  padding-top: 5px;
}

#text-animation-text-container #flip {
  height: 50px;
  overflow: hidden;
}

#text-animation-text-container #flip > div > div {
  color: #fff;
  padding: 5px 12px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

#text-animation-text-container #flip div:first-child {
  -webkit-animation: show 5s linear infinite;
          animation: show 5s linear infinite;
}

#text-animation-text-container #flip div div {
  background: #81a0f6;
}

#text-animation-text-container #flip div:first-child div {
  background: #ccf152;
}

#text-animation-text-container #flip div:last-child div {
  background: #d473e0;
}

@-webkit-keyframes show {
  0% {
    margin-top: -250px;
  }

  5% {
    margin-top: -168px;
  }

  33% {
    margin-top: -168px;
  }

  38% {
    margin-top: -85px;
  }

  66% {
    margin-top: -85px;
  }

  71% {
    margin-top: 0px;
  }

  99.99% {
    margin-top: 0px;
  }

  100% {
    margin-top: -250px;
  }
}

@keyframes show {
  0% {
    margin-top: -250px;
  }

  5% {
    margin-top: -168px;
  }

  33% {
    margin-top: -168px;
  }

  38% {
    margin-top: -85px;
  }

  66% {
    margin-top: -85px;
  }

  71% {
    margin-top: 0px;
  }

  99.99% {
    margin-top: 0px;
  }

  100% {
    margin-top: -250px;
  }
}

#text-animation-vip-advertiser-title {
  background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
          animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
}

@-webkit-keyframes reveal {
  80% {
    letter-spacing: 8px;
  }

  100% {
    background-size: 300% 300%;
  }
}

@keyframes reveal {
  80% {
    letter-spacing: 8px;
  }

  100% {
    background-size: 300% 300%;
  }
}

@-webkit-keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}

@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}

* {
  font-family: "Vazir", sans-serif;
  text-align: right;
  scroll-behavior: smooth !important;
}

html,
body {
  height: 100%;
}

#root {
  overflow-x: hidden !important;
  background-color: #eaedf1;
}

#app {
  min-height: 100%;
}

.mainAdsToggler {
  background: #f4fad1 !important;
}

.logoNav:hover {
  box-shadow: 7px 7px 18px 1px rgba(0, 0, 0, 0.57);
}

.f-black {
  font: #000000 !important;
}

.f-white {
  font: #f0f0f0 !important;
}

.c-black {
  color: #000000 !important;
}

.c-white {
  color: #f0f0f0 !important;
}

.c-light-red {
  color: #f70f07 !important;
}

.myNavbar {
  display: flex;
  margin: 0 !important;
  justify-content: space-between;
  align-items: center;
  background: #41658a;
}

.myNavbar .navbar-brand,
.myNavbar .navbar-ul {
  display: flex;
  margin: 0 !important;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  cursor: pointer;
}

.myNavbar .navbar-brand .nav-item,
.myNavbar .navbar-ul .nav-item {
  cursor: pointer !important;
  font-size: 0.8rem !important;
}

.myNavbar .mobile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.7rem 0;
  z-index: 2;
  overflow: hidden;
}

.myNavbar .mobile-menu .mobile-menu-item {
  list-style: none;
  text-decoration: none;
  width: 80%;
  text-align: right;
  margin: 0.3rem 0;
  color: white;
  background: gray;
  padding: 0.8rem 1.2rem;
}

.myNavbar .mobile-menu .mobile-menu-item:hover {
  background: #eee;
  color: black;
}

.nav-link {
  color: #f3f1f1;
  font-size: 0.8rem !important;
  white-space: nowrap !important;
}

.nav-link:hover {
  color: white !important;
}

.dp__input {
  pointer-events: none;
  background: transparent;
  outline: 0;
  border: none;
  color: #f3f1f1;
  font-size: 0.6rem;
}

.seperator {
  height: 3px !important;
  background: #86bbbd;
  width: 100% !important;
}

.mega-menu {
  justify-content: space-between !important;
  background: #f4fad1 !important;
}

.btn-mega-menu-links {
  border: none !important;
  outline: none !important;
  padding: 0.8rem 0.3rem !important;
  margin: 0 0.3em !important;
  color: #eee !important;
  border-radius: 1rem !important;
  background-color: #41658a !important;
  border-bottom: 2px solid #86bbbd !important;
  white-space: nowrap !important;
}

.btn-mega-menu-links:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  border-bottom: 2px solid #86bbbd !important;
}

.dropdown-menu {
  top: 100% !important;
  right: 0 !important;
  left: auto;
}

.megaMenuPanel ul {
  list-style: none;
  width: 100%;
  padding: 0.8rem;
  margin: 0;
}

.megaMenuPanel div {
  margin: 0;
  padding: 0;
  width: 100%;
}

.megaMenuPanel .megaMenuContent {
  padding: 0;
}

.megaMenuPanel .megaMenuItem {
  background: #0f0c0c;
  color: #f3f1f1;
  border-radius: 0 5px 0 5px;
  width: 100%;
  margin: 0.2rem;
  padding: 0.4rem 1.2rem;
}

.login-btn,
.logout-btn {
  color: black;
  cursor: pointer !important;
}

.btn-reset-password {
  background: transparent;
  outline: 0;
  border: none;
  color: blue;
}

.navbar3-items {
  cursor: pointer !important;
}

.btn-primary {
  background-color: #18fc9d !important;
  border-color: #18fc9d !important;
}

.form-control:focus {
  border-color: #18fc9d !important;
}

.shop-category-btn {
  display: block;
  margin: 0;
  padding: 0.3rem 1.8rem;
  background: #18fc9d !important;
  border: 1px solid #18fc9d !important;
}

.shop-category-btn:focus {
  border: 1px solid #18fc9d !important;
}

.shop-category-link {
  margin: 3px 0;
  padding: 0.5rem 1.8rem;
  background: white !important;
  color: #000000 !important;
  text-decoration: none !important;
}

.shop-category-link:hover,
.shop-category-link:focus {
  background: #18fc9d !important;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.slick-list {
  background: #f4fad1;
}

.advertisment {
  position: relative;
  width: 8.5rem !important;
  height: 11rem !important;
  min-height: 11rem !important;
  min-width: 8.5rem !important;
  max-height: 11rem !important;
  max-width: 8.5rem !important;
  text-align: center;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

.card-flag {
  position: absolute;
  width: 40px;
  top: 0px;
  left: 0;
  z-index: 100;
  background: #86e986;
  color: white;
  text-align: center;
  transform: rotateZ(-30deg);
}

.card-crown {
  position: absolute;
  width: 40px;
  top: -9px;
  left: 3px;
  z-index: 100;
  text-align: center;
}

.card-rond {
  background: rgba(255, 0, 0, 0.87);
  padding: 0rem 0.6rem;
  color: white;
  border-radius: 7px;
}

.card-nime-rond {
  background: rgba(255, 0, 0, 0.87);
  padding: 0rem 0.2rem;
  color: white;
  border-radius: 7px;
}

.line-through {
  text-decoration: line-through !important;
}

.card-inner-width {
  width: 90% !important;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

.flip-card {
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.create-new-card {
  min-width: 9.5rem !important;
  min-height: 12rem !important;
  max-width: 9.5rem !important;
  max-height: 12rem !important;
}

/* Do an horizontal flip when you move the mouse over the flip box container */

/* Position the front and back side */

.card-body-vip-advertiser {
  background: #c5d2db !important;
}

.card-footer-vip-advertiser {
  background: #c5d2db !important;
}

.card-header-vip-advertiser {
  background: #a686f0 !important;
}

.card-body-advertiser {
  background: #ecf6fa !important;
}

.advertiser-flag-icon {
  position: absolute;
  top: -5 px;
  left: -5px;
  width: 40px;
  height: 40px;
}

.advertiser-vip-flag-icon {
  position: absolute;
  top: 15px;
  left: 0px;
  width: 100px;
  height: 100px;
}

/* Style the back side */

.flip-card-front {
  background: #eee;
  position: relative;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: black;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

.flip-card-back {
  background: #eee;
  height: 100%;
  width: 100%;
  position: absolute;
  border: none;
  border-radius: 5px;
  color: black;
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

.btn-advertisment-delete {
  color: red;
  background: none;
  outline: 0;
  border: none;
}

.btn-advertisment-berozresani {
  color: #eeee18;
  background: none;
  outline: 0;
  border: none;
}

.btn-advertisment-sold {
  color: #ccff40;
  background: none;
  outline: 0;
  border: none;
}

.single-phonenumber {
  background: #b9e2e6;
  border-left: 1px solid #5d5dfa;
  border-right: 3px solid #5d5dfa;
}

.advertisment-details-item {
  background: #7fa2a5;
  border-left: 1px solid #7041f0;
  border-right: 3px solid #7041f0;
  list-style-type: none;
}

.btn-custom-style {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
}

.btn-custom-style:hover {
  color: white;
  background-color: #ffffff44;
}

.comment-delete-btn {
  color: #d60000;
  border: none;
  outline: none;
  background: transparent;
}

.comment-delete-btn:hover,
.comment-delete-btn:focus {
  color: #d60000;
  text-decoration: underline;
}

.section-contents {
  margin-top: 60px;
}

.googleMap {
  height: 50vh !important;
}

.ad-number {
  z-index: 1 !important;
}

.landingPage-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mh-100px {
  min-height: 150px !important;
}

/*FOOTER*/

.page-footer {
  margin-bottom: 0;
  height: 100%;
}

footer {
  background: #86bbbd;
  color: #000000 !important;
  position: relative;
}

.go-to-top {
  position: absolute;
  width: 50px;
  height: 50px;
  transform: translate(-25px, -50%) rotate(45deg);
  border-radius: 50%;
  border: 3px solid #86bbbd;
  top: 0;
  left: 50%;
  background: #86bbbd;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left-color: #86bbbd;
  border-top-color: #86bbbd;
}

.go-to-top i {
  color: #f0f0f0;
}

.fa-rotate-45 {
  transform: rotate(-45deg);
  color: #86bbbd;
}

footer a {
  color: #000000;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #eee;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #ffffff;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}

/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3b5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44bcdd;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.container {
  width: 75% !important;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  transition: all 0.8s;
}

.social-network a {
  background-color: #f9f9f9;
}

.social-media-icons {
  color: #000000;
  cursor: pointer;
}

.social-media-icons:hover {
  color: #18fc9d !important;
}

.ad1 .ad1-items {
  height: 100px !important;
}

.ad1 .ad1-items .ad1-image {
  width: 100% !important;
  height: 100% !important;
}

.ad2 .ad2-items {
  height: 100px !important;
}

.ad2 .ad2-items .ad2-image {
  width: 100% !important;
  height: 100% !important;
}

.sectionTitleToggler {
  position: absolute;
  left: 100%;
  top: 0;
  width: 3rem;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c6da97 !important;
}

.sectionTitle {
  background: #f4fad1;
}

.custom-select-prepand {
  background-color: transparent;
}

.custom-select-container {
  width: 100%;
  background: transparent !important;
  margin: 0.4rem auto;
  padding: 0 1.7rem !important;
}

.custom-select-opener {
  width: 100%;
  padding: 0.4rem 1.2rem;
  margin: 0.5px 8px 0 !important;
  background: transparent !important;
  opacity: 1;
  border: none;
  outline: 0;
  color: black;
}

.custom-select-opener:focus {
  border: none !important;
  outline: 0 !important;
}

.custom-select-panel {
  width: 10rem !important;
  background: white !important;
  left: 0 !important;
  width: 100% !important;
}

.custom-select-container.is-open .custom-select-panel {
  max-height: -webkit-fit-content !important;
  max-height: -moz-fit-content !important;
  max-height: fit-content !important;
  overflow-y: auto;
}

.custom-select-option {
  color: black;
}

.has-focus {
  cursor: pointer !important;
  background: #585858 !important;
  color: #f3f1f1;
}

#searchBoxAccordition {
  background: #f4fad1 !important;
}

.search-box-title-img {
  width: 4rem !important;
}

#bars {
  width: 1rem;
  height: 1rem;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}

#bars .bar {
  width: 100%;
  height: 2px;
  background: black;
  border-radius: 25px;
}

#bars .bar1 {
  animation: 1280ms ease-in 0ms infinite reverse both running barAnimation;
}

#bars .bar2 {
  animation: 1280ms ease-in 320ms infinite reverse both running barAnimation;
}

#bars .bar3 {
  animation: 1280ms ease-in 640ms infinite reverse both running barAnimation;
}

.btn-custom {
  border-bottom: 1px solid black !important;
  width: 130px !important;
  outline: 0 !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.btn-custom:focus {
  outline: 0 !important;
}

.input-group-custom {
  display: flex;
  justify-content: space-between !important;
  border-bottom: 1px solid black;
}

.search-option {
  cursor: pointer;
}

.default-btn {
  padding: 0.7rem 0.9rem !important;
  cursor: pointer;
  position: relative;
  outline: 0 !important;
  border-radius: none !important;
  border: none !important;
  box-shadow: none !important;
}

.default-btn:focus {
  border: none;
  outline: 0;
}

.default-btn i {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-10px, -50%) !important;
}

.btn-search-options-item {
  background: rgba(250, 182, 104, 0.534);
  margin: auto;
  width: 80% !important;
}

.btn-search-option {
  background: rgba(41, 88, 160, 0.767);
}

.btn-search {
  background: rgba(250, 140, 140, 0.87);
}

.searchBox-phonenumber {
  outline: 0 !important;
  border: none !important;
  border-bottom: 2px solid black !important;
  text-align: left !important;
  width: 5rem !important;
  border-radius: 0 !important;
}

.searchBox-phonenumber:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  border-bottom: 2px solid black !important;
}

.featured-items-title-img {
  width: 4rem !important;
}

.advertiser {
  height: 100% !important;
}

.advertiser-card {
  padding: 0.2rem !important;
  border: 1.5px solid #9dcdf5 !important;
  border-radius: 0 !important;
}

.vip-advertiser-card {
  padding: 0.5rem !important;
  border: 5px solid #450085 !important;
  border-radius: 0 !important;
}

.vip-advertiser {
  height: 100% !important;
  font-size: 2rem !important;
}

.simcard-sm {
  height: 1.5rem;
  width: 1.5rem;
}

.mask-advertisers {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.23;
}

.ghavaninCollapse {
  background-color: #f4fad1;
}

canvas {
  height: 100vh;
  width: 100vw;
  background-color: rgba(27, 27, 27, 0.26);
}

.loadingPage {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 3em;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  z-index: 1;
}

/* Large desktops and laptops */

/* Landscape tablets and medium desktops */

/* Portrait tablets and small desktops */

/* Landscape phones and portrait tablets */

/* Portrait phones and smaller */

@media (max-width: 480px) {
  .container {
    width: 100% !important;
    overflow-y: hidden !important;
    min-width: 320px !important;
  }

  .advertisment {
    width: 8.5rem !important;
    height: 11rem !important;
    min-height: 11rem !important;
    min-width: 8.5rem !important;
    max-height: 11rem !important;
    max-width: 8.5rem !important;
  }
}

@-webkit-keyframes barAnimation {
  0% {
    width: 0%;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

@keyframes barAnimation {
  0% {
    width: 0%;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0%;
  }
}

