@charset "UTF-8";

.bg-vip-advertisers-sim {
  background: #c5d2db;
  font-weight: 700;
}

.bg-vip-advertisers-sim-owner {
  background: #a686f0;
  font-weight: 700;
}

.bg-advertisers-sim {
  background: rgba(0, 24, 158, 0.185);
  font-weight: 700;
}

.bg-advertisers-sim-owner {
  background: #ff8b6e;
}

.bg-advertisers {
  background: #ecf6fa !important;
}

.bg-custom {
  background: #f4fad1 !important;
}

.bg-secondary {
  background-color: white !important;
}

.bg-primary {
  background-color: #18fc9d !important;
}

.bg-background {
  background-color: #eaedf1 !important;
}

.bg-navbar2 {
  background: #2e3031;
}

.bg-admin-advertisers {
  background-color: #f7e2a8 !important;
}

.white-space-nowrap {
  white-space: nowrap !important;
}

.font-0 {
  font-size: 1.3rem !important;
}

.font1 {
  font-size: 1.1rem !important;
}

.font1-2 {
  font-size: 1rem !important;
  font-weight: 500;
}

.font2 {
  font-size: 0.9rem !important;
}

.font2-3 {
  font-size: 0.8rem !important;
}

.font3 {
  font-size: 0.7rem !important;
}

.font3-4 {
  font-size: 6.5rem !important;
}

.font4 {
  font-size: 0.6rem !important;
}

.font4-5 {
  font-size: 0.55rem !important;
}

.font5 {
  font-size: 0.5rem !important;
}

.font6 {
  font-size: 0.4rem !important;
}

.font7 {
  font-size: 0.3rem !important;
}

.font-1 {
  font-size: 2.2rem !important;
}

.font-2 {
  font-size: 3.3rem !important;
}

.bg-links:hover {
  color: #5b8cf7;
}

.noClick {
  pointer-events: none !important;
}

* {
  font-family: "Vazir", sans-serif;
  text-align: right;
  scroll-behavior: smooth !important;
}

html,
body {
  height: 100%;
}

#root {
  overflow-x: hidden !important;
  background-color: #eaedf1;
}

#app {
  min-height: 100%;
}

@font-face {
  font-family: Vazir;
  src: url(/fonts/Vazir.eot?b6faff7226f80b28db79ef827830fb38);
  src: url(/fonts/Vazir.eot?b6faff7226f80b28db79ef827830fb38) format("embedded-opentype"), url(/fonts/Vazir.woff2?566305627d04519057583ac1a201fe36) format("woff2"), url(/fonts/Vazir.woff?044864a0687c5017de50df000c5cd6c0) format("woff"), url(/fonts/Vazir.ttf?8c8aa2d378476dac46e58e227bc91ca9) format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url(/fonts/Vazir-Bold.eot?d5f9c87434500ebda6f3e9d8e1e71c76);
  src: url(/fonts/Vazir-Bold.eot?d5f9c87434500ebda6f3e9d8e1e71c76) format("embedded-opentype"), url(/fonts/Vazir-Bold.woff2?946d5172bf83681ea52eb3d5ee96697b) format("woff2"), url(/fonts/Vazir-Bold.woff?ff7d80c6542324c6c4d0d07d18f606fc) format("woff"), url(/fonts/Vazir-Bold.ttf?0bcc5cb3c0723692fb1548dfd5f2df05) format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url(/fonts/Vazir-Black.eot?2375c43915833eae468e55253a645d75);
  src: url(/fonts/Vazir-Black.eot?2375c43915833eae468e55253a645d75) format("embedded-opentype"), url(/fonts/Vazir-Black.woff2?a2a1ac7749e492273f44d8f29a29de11) format("woff2"), url(/fonts/Vazir-Black.woff?23e41f382421346c28a27bbc7772eb66) format("woff"), url(/fonts/Vazir-Black.ttf?93fdb72323ce1b012996e60abe6877ca) format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url(/fonts/Vazir-Medium.eot?ed8bc3c80d1c078a4ed96347607f032f);
  src: url(/fonts/Vazir-Medium.eot?ed8bc3c80d1c078a4ed96347607f032f) format("embedded-opentype"), url(/fonts/Vazir-Medium.woff2?41b89e21db1f63bd295092c2190eee14) format("woff2"), url(/fonts/Vazir-Medium.woff?bb78e30668d4452cb9f0cc7cf72ddbe2) format("woff"), url(/fonts/Vazir-Medium.ttf?ab45266448185b767a127605f247c489) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url(/fonts/Vazir-Light.eot?5b346e1b698e592697719effa4b04369);
  src: url(/fonts/Vazir-Light.eot?5b346e1b698e592697719effa4b04369) format("embedded-opentype"), url(/fonts/Vazir-Light.woff2?6143bb37f90640059fb9a8144ddeff24) format("woff2"), url(/fonts/Vazir-Light.woff?94dcdf8eaa5b8552551c9330c0a46efe) format("woff"), url(/fonts/Vazir-Light.ttf?2c606e262086e3c28027edd38ad92bb0) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Vazir;
  src: url(/fonts/Vazir-Thin.eot?7e0b9340aea53f9db98ce040fe56453c);
  src: url(/fonts/Vazir-Thin.eot?7e0b9340aea53f9db98ce040fe56453c) format("embedded-opentype"), url(/fonts/Vazir-Thin.woff2?3b179ca5d604407d95fd0464f2e12db5) format("woff2"), url(/fonts/Vazir-Thin.woff?287cae74c3e005ca1379a70a071fe419) format("woff"), url(/fonts/Vazir-Thin.ttf?9bc6d4dc99d339145b4d68956687cb79) format("truetype");
  font-weight: 100;
  font-style: normal;
}

.mainAdsToggler {
  background: #f4fad1 !important;
}

.logoNav:hover {
  box-shadow: 7px 7px 18px 1px rgba(0, 0, 0, 0.57);
}

.f-black {
  font: #000000 !important;
}

.f-white {
  font: #f0f0f0 !important;
}

.c-black {
  color: #000000 !important;
}

.c-white {
  color: #f0f0f0 !important;
}

.c-light-red {
  color: #f70f07 !important;
}

.myNavbar {
  display: flex;
  margin: 0 !important;
  justify-content: space-between;
  align-items: center;
  background: #41658a;
}

.myNavbar .navbar-brand,
.myNavbar .navbar-ul {
  display: flex;
  margin: 0 !important;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  cursor: pointer;
}

.myNavbar .navbar-brand .nav-item,
.myNavbar .navbar-ul .nav-item {
  cursor: pointer !important;
  font-size: 0.8rem !important;
}

.myNavbar .mobile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.7rem 0;
  z-index: 2;
  overflow: hidden;
}

.myNavbar .mobile-menu .mobile-menu-item {
  list-style: none;
  text-decoration: none;
  width: 80%;
  text-align: right;
  margin: 0.3rem 0;
  color: white;
  background: gray;
  padding: 0.8rem 1.2rem;
}

.myNavbar .mobile-menu .mobile-menu-item:hover {
  background: #eee;
  color: black;
}

.nav-link {
  color: #f3f1f1;
  font-size: 0.8rem !important;
  white-space: nowrap !important;
}

.nav-link:hover {
  color: white !important;
}

.dp__input {
  pointer-events: none;
  background: transparent;
  outline: 0;
  border: none;
  color: #f3f1f1;
  font-size: 0.6rem;
}

.seperator {
  height: 3px !important;
  background: #86bbbd;
  width: 100% !important;
}

.mega-menu {
  justify-content: space-between !important;
  background: #f4fad1 !important;
}

.btn-mega-menu {
  border: none !important;
  outline: none !important;
  padding: 0.8rem 0.3rem !important;
  background: transparent;
  box-shadow: none !important;
  border-bottom: 2px solid #86bbbd !important;
  white-space: nowrap !important;
}

.btn-mega-menu:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  border-bottom: 2px solid #86bbbd !important;
}

.dropdown-menu {
  top: 100% !important;
  right: 0 !important;
  left: auto;
}

.megaMenuPanel ul {
  list-style: none;
  width: 100%;
  padding: 0.8rem;
  margin: 0;
}

.megaMenuPanel div {
  margin: 0;
  padding: 0;
  width: 100%;
}

.megaMenuPanel .megaMenuContent {
  padding: 0;
}

.megaMenuPanel .megaMenuItem {
  background: #0f0c0c;
  color: #f3f1f1;
  border-radius: 0 5px 0 5px;
  width: 100%;
  margin: 0.2rem;
  padding: 0.4rem 1.2rem;
}

.login-btn,
.logout-btn {
  color: black;
  cursor: pointer !important;
}

.navbar3-items {
  cursor: pointer !important;
}

.btn-primary {
  background-color: #18fc9d !important;
  border-color: #18fc9d !important;
}

.form-control:focus {
  border-color: #18fc9d !important;
}

.shop-category-btn {
  display: block;
  margin: 0;
  padding: 0.3rem 1.8rem;
  background: #18fc9d !important;
  border: 1px solid #18fc9d !important;
}

.shop-category-btn:focus {
  border: 1px solid #18fc9d !important;
}

.shop-category-link {
  margin: 3px 0;
  padding: 0.5rem 1.8rem;
  background: white !important;
  color: #000000 !important;
  text-decoration: none !important;
}

.shop-category-link:hover,
.shop-category-link:focus {
  background: #18fc9d !important;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.slick-list {
  background: #f4fad1;
}

.advertisment {
  position: relative;
  width: 8.5rem !important;
  height: 13rem !important;
  min-height: 8.5rem !important;
  min-height: 13rem !important;
  max-height: 8.5rem !important;
  max-height: 13rem !important;
  text-align: center;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

.card-flag {
  position: absolute;
  width: 40px;
  top: 0px;
  left: 0;
  z-index: 100;
  background: #86e986;
  color: white;
  text-align: center;
  transform: rotateZ(-30deg);
}

.card-crown {
  position: absolute;
  width: 40px;
  top: -9px;
  left: 3px;
  z-index: 100;
  text-align: center;
}

.card-rond {
  background: rgba(255, 0, 0, 0.87);
  padding: 0rem 0.6rem;
  color: white;
  border-radius: 7px;
}

.card-nime-rond {
  background: rgba(255, 0, 0, 0.87);
  padding: 0rem 0.2rem;
  color: white;
  border-radius: 7px;
}

.line-through {
  text-decoration: line-through !important;
}

.card-inner-width {
  width: 90% !important;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */

.flip-card {
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  perspective: 1000px;
  /* Remove this if you don't want the 3D effect */
}

.create-new-card {
  min-width: 9.5rem !important;
  min-height: 12rem !important;
  max-width: 9.5rem !important;
  max-height: 12rem !important;
}

/* Do an horizontal flip when you move the mouse over the flip box container */

/* Position the front and back side */

.card-body {
  background: #eee !important;
  border: 0px solid black;
  border-radius: 5px;
  z-index: 1;
}

.card-body-vip-advertiser {
  background: #c5d2db !important;
}

.card-footer-vip-advertiser {
  background: #c5d2db !important;
}

.card-header-vip-advertiser {
  background: #a686f0 !important;
}

.card-body-advertiser {
  background: #ecf6fa !important;
}

.advertiser-flag-icon {
  position: absolute;
  top: -5 px;
  left: -5px;
  width: 40px;
  height: 40px;
}

.advertiser-vip-flag-icon {
  position: absolute;
  top: 15 px;
  left: 0px;
  width: 100px;
  height: 100px;
}

/* Style the back side */

.flip-card-back {
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 5px;
  color: black;
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
}

.flip-card-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -100;
}

.section-contents {
  margin-top: 60px;
}

.googleMap {
  height: 50vh !important;
}

.ad-number {
  z-index: 1 !important;
}

.landingPage-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mh-100px {
  min-height: 150px !important;
}

/*FOOTER*/

.page-footer {
  margin-bottom: 0;
  height: 100%;
}

footer {
  background: #86bbbd;
  color: #000000 !important;
  position: relative;
}

.go-to-top {
  position: absolute;
  width: 50px;
  height: 50px;
  transform: translate(-25px, -50%) rotate(45deg);
  border-radius: 50%;
  border: 3px solid #86bbbd;
  top: 0;
  left: 50%;
  background: #86bbbd;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left-color: #86bbbd;
  border-top-color: #86bbbd;
}

.go-to-top i {
  color: #f0f0f0;
}

.fa-rotate-45 {
  transform: rotate(-45deg);
  color: #86bbbd;
}

footer a {
  color: #000000;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #eee;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #ffffff;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}

/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}

/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3b5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44bcdd;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.container {
  width: 75% !important;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  transition: all 0.8s;
}

.social-network a {
  background-color: #f9f9f9;
}

.social-media-icons {
  color: #000000;
  cursor: pointer;
}

.social-media-icons:hover {
  color: #18fc9d !important;
}

.ad1 .ad1-items {
  height: 100px !important;
}

.ad1 .ad1-items .ad1-image {
  width: 100% !important;
  height: 100% !important;
}

.ad2 .ad2-items {
  height: 100px !important;
}

.ad2 .ad2-items .ad2-image {
  width: 100% !important;
  height: 100% !important;
}

.sectionTitleToggler {
  position: absolute;
  left: 100%;
  top: 0;
  width: 3rem;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c6da97 !important;
}

.sectionTitle {
  background: #f4fad1;
}

.custom-select-prepand {
  background-color: transparent;
}

.custom-select-container {
  width: 100%;
  background: transparent !important;
  margin: 0.4rem auto;
  padding: 0 1.7rem !important;
}

.custom-select-opener {
  width: 100%;
  padding: 0.4rem 1.2rem;
  margin: 0.5px 8px 0 !important;
  background: transparent !important;
  opacity: 1;
  border: none;
  outline: 0;
  color: black;
}

.custom-select-opener:focus {
  border: none !important;
  outline: 0 !important;
}

.custom-select-panel {
  width: 10rem !important;
  background: white !important;
  left: 0 !important;
  width: 100% !important;
}

.custom-select-container.is-open .custom-select-panel {
  max-height: -webkit-fit-content !important;
  max-height: -moz-fit-content !important;
  max-height: fit-content !important;
  overflow-y: auto;
}

.custom-select-option {
  color: black;
}

.has-focus {
  cursor: pointer !important;
  background: #585858 !important;
  color: #f3f1f1;
}

#searchBoxAccordition {
  background: #f4fad1 !important;
}

.search-box-title-img {
  width: 4rem !important;
}

.btn-custom {
  border-bottom: 1px solid black !important;
  width: 130px !important;
  outline: 0 !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}

.btn-custom:focus {
  outline: 0 !important;
}

.input-group-custom {
  display: flex;
  justify-content: space-between !important;
  border-bottom: 1px solid black;
}

.search-option {
  cursor: pointer;
}

.default-btn {
  padding: 0.7rem 0.9rem !important;
  cursor: pointer;
  position: relative;
  outline: 0 !important;
  border-radius: none !important;
  border: none !important;
  box-shadow: none !important;
}

.default-btn:focus {
  border: none;
  outline: 0;
}

.default-btn i {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-10px, -50%) !important;
}

.btn-search-options-item {
  background: rgba(250, 182, 104, 0.534);
  margin: auto;
  width: 80% !important;
}

.btn-search-option {
  background: rgba(41, 88, 160, 0.767);
}

.btn-search {
  background: rgba(250, 140, 140, 0.87);
}

.searchBox-phonenumber {
  outline: 0 !important;
  border: none !important;
  border-bottom: 2px solid black !important;
  text-align: left !important;
  width: 5rem !important;
  border-radius: 0 !important;
}

.searchBox-phonenumber:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  border-bottom: 2px solid black !important;
}

.featured-items-title-img {
  width: 4rem !important;
}

.advertiser {
  height: 100% !important;
}

.advertiser-card {
  padding: 0.2rem !important;
  border: 1.5px solid #9dcdf5 !important;
  border-radius: 0 !important;
}

.vip-advertiser-card {
  padding: 0.5rem !important;
  border: 5px solid #450085 !important;
  border-radius: 0 !important;
}

.vip-advertiser {
  height: 100% !important;
  font-size: 2rem !important;
}

.mask-advertisers {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.23;
}

.ghavaninCollapse {
  background-color: #f4fad1;
}

/* Large desktops and laptops */

/* Landscape tablets and medium desktops */

/* Portrait tablets and small desktops */

/* Landscape phones and portrait tablets */

/* Portrait phones and smaller */

@media (max-width: 480px) {
  .container {
    width: 100% !important;
    overflow-y: hidden !important;
    min-width: 320px !important;
  }

  .advertisment {
    width: 8.5rem !important;
    height: 15rem !important;
    min-height: 10rem !important;
    min-height: 15rem !important;
    max-height: 10rem !important;
    max-height: 15rem !important;
  }
}

